body {
	background-image: url('../Home images/Restaurant-background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: Cornsilk;
	color:#000;
	margin: 0;
	font-family: Garamond, serif;
}
nav{
	overflow: hidden;
	background-color: #000;
	padding-top:20px;
	padding-bottom:10px;
}
.pages{
	text-decoration:none;
	float:right;
	margin-right:35px;
	color:darkorange;
	background-color:black;
	font-size: 35px;
	text-shadow: 1px 1px 1px Cornsilk;
}
.cheeselogo	{
	height:90px;
	width:105px;
	margin-left:10px;
}
.current	{
	color: red;
}
.Pizza	{
	width:400px;
	height:400px;
	border:3px solid black;
	float: right;
	margin-right: 75px;
	margin-top: 100px;
}
.Lasagna	{
	width:400px;
	height:400px;
	border:3px solid black;
	float: right;
	margin-right: 75px;
	margin-top: 200px;
}
.TitleText1{
	position: absolute;
	top:13%;
	left:40%;
	font-size:60px;
	color:gold;
	text-shadow: 2px 2px 8px black;
}
.TitleText2{
	position: absolute;
	top:600px;
	left:135px;
	font-size:60px;
	color:gold;
	text-shadow: 2px 2px 8px black;
}
.Pname1	{
	left:550px;
}
.Pname2	{
	left:1100px;
}
.Lasagna1	{
	left:37%;
	top:700px;
}
.Lname1	{
	top:1200px;
	left:1%;
}
.Lname2	{
	top:1200px;
	left:37%;
}
.Lname3	{
	top:1200px;
	left:72%;
}